.contenedor-formulario {
    .container-fluid.login {
        width: 35%;
        
        form {
            .row{
                padding: 10px;
            }

            .row.boton {
                padding: 0;
                display: flex;
                text-align: center;

                .btn {
                    margin-left: 25%;
                    width: 50%;
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contenedor-formulario {
        .container-fluid {
            min-width: 100%;
        }
    }
}
