.row.lotes{
    padding: 30px;
    width: 90%;
    form{
        padding: 20px;
        
        .form-group{
            margin-top: 10px;
        }
    }

    #map{
        border-radius: 20px;
    }
}