body {
    min-height: 100vh;
    height: auto;

    .contenedor-registro {
        max-width: 750px;
        width: 100%;

        .container-fluid {
            .row {
                display: flex;
                flex-direction: row;
                padding-top: 20px;

                .col-2 {
                    width: 50%;
                }
            }

            .row.roles {
                display: flex;
                justify-content: space-around;
            }

            .row.boton {
                padding: 0;
                display: flex;
                text-align: center;

                .btn {
                    margin-left: 25%;
                    width: 50%;
                }

                p {
                    margin-top: 10px;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .contenedor-registro {
            margin-top: 50px;
            margin-bottom: 50px;

            .container-fluid {
                width: 75%;
                .row {
                    flex-direction: column;
                    padding: 0;

                    .col-2 {
                        margin-top: 20px;
                        width: 100%;
                    }
                }
                .row.roles {
                    flex-direction: row;
                    margin-top: 20px;

                    .col-3 {
                        width: 150px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 576px) {
        .contenedor-registro {
            .container-fluid {
                width: 100%;
            }
        }
    }
}
