.contenedor-formulario {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;

    .container-fluid {
        width: 50%;
        

        form{
            .row {
                display: flex;
                flex-direction: row;
                padding-top: 20px;
    
                .col-2 {
                    width: 50%;
                }
            }
    
            .row.boton {
                padding: 0;
                display: flex;
                text-align: center;
    
                .btn {
                    margin-left: 25%;
                    width: 50%;
                }
    
                p {
                    margin-top: 10px;
                }
            }
        }
        
    }
}

@media screen and (max-width: 768px) {
    .contenedor-formulario {
        margin-top: 50px;
        margin-bottom: 50px;

        .container-fluid {
            width: 75%;
            .row {
                flex-direction: column;
                padding: 0;

                .col-2 {
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .contenedor-formulario {
        .container-fluid {
            width: 100%;
        }
    }
}
